<%= form_for(@config) do |f| %>
  <% if @config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@config.errors.count, "error") %> prohibited this config from being saved:</h2>

      <ul>
      <% @config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :twilio_sid %><br />
    <%= f.text_field :twilio_sid %>
  </div>
  <div class="field">
    <%= f.label :twilio_secret %><br />
    <%= f.text_field :twilio_secret %>
  </div>
  <div class="field">
    <%= f.label :twilio_from_number %><br />
    <%= f.text_field :twilio_from_number %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
