<h1>New call</h1>

<% @contacts.each do |contact|  %>
    <input name="numbers[]" class="input" data-id="number-proto" type="hidden" />
    <div class="row"><%= contact.first_name %> <%= contact.last_name %> <%= contact.phone_number %> <i id="<%= contact.phone_number %>" class="fa fa-plus"></i></div>
<% end %>

<%= render 'form' %>

<script>
    $(document).ready(function(){
        $('.fa-plus').on('click', function(e){
            $(e.target).parent().css('background-color', '#CCCCCC');
            console.log($(e.target).attr('id'));
            var num = $(e.target).attr('id');
            $('form').prepend('<input name="numbers[]" class="input" type="hidden" value="' + num + '" />');
        });
    });
</script>

<%= link_to 'Back', calls_path %>
