<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @call.name %>
</p>

<p>
  <b>Phone number:</b>
  <%= @call.phone_number %>
</p>


<%= link_to 'Edit', edit_call_path(@call) %> |
<%= link_to 'Back', calls_path %>
