<h1>Listing contacts</h1>

<table>
  <tr class="row">
    <th class="model_prop">Last name</th>
    <th class="model_prop">First name</th>
    <th class="model_prop">Phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @contacts.each do |contact| %>
  <tr class="row">
    <td class="model_prop"><%= contact.last_name %></td>
    <td class="model_prop"><%= contact.first_name %></td>
    <td class="model_prop"><%= contact.phone_number %></td>
    <td><%= link_to 'Show', contact %></td>
    <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
    <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Contact', new_contact_path %>
